<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnyimMemcached" version="2.16.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="ServiceStack" version="5.1.0" targetFramework="net472" />
  <package id="ServiceStack.Client" version="5.1.0" targetFramework="net472" />
  <package id="ServiceStack.Common" version="5.1.0" targetFramework="net472" />
  <package id="ServiceStack.Interfaces" version="5.1.0" targetFramework="net472" />
  <package id="ServiceStack.Text" version="5.1.0" targetFramework="net472" />
  <package id="StackExchange.Redis" version="1.2.6" targetFramework="net472" />
  <package id="StackExchange.Redis.Extensions.Core" version="3.5.0" targetFramework="net472" />
  <package id="StackExchange.Redis.Extensions.Newtonsoft" version="3.5.0" targetFramework="net472" />
  <package id="StackExchange.Redis.StrongName" version="1.2.6" targetFramework="net472" />
</packages>